body{
    
 font-size: 24px;
 line-height: 32px;
 background-image: url('../images/main_Background.jpg');
 background-position: top left;
 background-repeat: no-repeat; 
 background-size: cover;
 max-width: 100%;
 max-height: 100%;
}
.pHeader{
    background-color: rgb(19, 109, 245);
    color: rgb(239, 239, 245);
}
.gameStats{
   
    background-color:rgb(79, 143, 240);
    color:rgb(61, 42, 42);
}
.notAns{
    color:rgb(236, 13, 13);
    background-color:rgb(80, 18, 18);
}
.rtime{
    background-color: rgb(54, 139, 165);
    color:white;
}
.yesAns{
    background-color: rgb(33, 247, 33);
    color: blueviolet;
}
.quizDetail{
    background-color: rgb(249, 250, 247);
    color:rgb(46, 36, 36);
    max-height: 100%;
}


/*   for the question options block */


